body {
	min-width: 432px;
	min-height: 400px;
	margin: 0 !important;
}
#feed a {
	color:#000 !important;
}
#feed a:hover {
	text-decoration: none !important;
}
.top {
	margin-top: 50px;
}
#feed img {
	float: left;
	margin: 3px;
	width: 200px;
}
#build input[type="text"] {
    box-sizing: content-box;
	-webkit-column-count: 2;
			column-count: 2;
}
#serious > div > div > div {
	-webkit-column-count: 2;
			column-count: 2;
}
#grelca {
	list-style-type: none;
}
.loading {
	margin-left: 208px;
}
.brand {
    padding-left: 67px !important;
}
table {
    width: 428px;
}