body {
	min-width: 405px;
	min-height: 400px;
	margin: 0 !important;
}
#feed a {
	color:#000 !important;
}
#feed a:hover {
	text-decoration: none !important;
}
#cnt, #top, #routes {
	margin-top: 40px;
}
#result {
	list-style: none;
	padding: 0;
	margin: 0 0 0 5px;
	-webkit-column-count: 2;
			column-count: 2;
}
input[type="text"] {
    box-sizing: content-box;
}